@font-face {
  font-family: Vazir;
  src: url(../../Public/Fonts/Vazir.woff2);
}
/* .success-message {
  opacity: 0;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 15px;
  border-radius: 8px;
  width: fit-content;
  margin: 20px auto;
  font-family: Tahoma, sans-serif;
  direction: rtl;
  text-align: right;
  transition: all 1s;
} */

.success-message {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(21, 87, 36, 0.2);
  position: relative;
  animation: slideIn 1s ease forwards;
  white-space: nowrap;
  font-size: 1.2rem;
  /* transition: all 1s; */
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Vazir;
  background-color: rgb(120 150 150);
  /* background-color: rgb(181, 233, 233); */
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.login-logo {
  border: 5px solid;
  border-radius: 100%;
  margin-bottom: 20px;
}
.login-logo > svg {
  width: 90px;
  height: 90px;
  padding: 10px;
}
.login-form {
  max-width: 800px;
  margin: 30px auto;
  background-color: rgb(212, 225, 241);
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  padding: 40px;
}
.login-form > form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
}
.user-name-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.user-name-content > input {
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  border: 2px solid;
  border-color: gray;
  background-color: rgb(221, 248, 248);
  border: 2px solid gray;
  font-family: Vazir;
  /* border: 2px solid red; */
}
.user-name-content > span {
  color: red;
  font-size: 13px;
  opacity: 0;
}
.remember-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.login-form > form > button {
  padding: 5px 30px;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  background-color: rgb(130 222 129);
  font-family: Vazir;
  margin-top: 20px;
}
/* -------------------footer-login */
.footer-login {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 30px;
}
